# Node - Frontend
front-end/node_modules/
front-end/build/
front-end/dist/
front-end/npm-debug.log*

# Java / Maven - Backend
projeto01/projeto01/target/
projeto01/projeto01/*.class
projeto01/projeto01/*.jar
projeto01/projeto01/*.war

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local