* {
  background-color: #594190;
}
.App {
  text-align: center;
}

.TodoWrapper {
  background-color: #2c2f3a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: auto;
  margin: auto;
  margin-top: 50px;
}

.TodoForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 10px;
}

.todo-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  flex: 1;
  margin-right: 10px;
  background-color: #36394d;
  color: white;
}

.todo-btn {
  
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.todo-btn:hover {
  background-color: #7a52d4;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}

.divIcon {
  display: flex;
  gap: 10px;

}

.delete-icon {
  cursor: pointer;
  color: #ff6b6b;
}

.completed {
  text-decoration: line-through;
}

div {
 margin: 2%;
}

h1 {
  border-radius: 5px;
}